<div class="bg-body-secondary text-center py-5 rounded-2">
    <h1 class="display-6 fw-bold">Payment Data</h1>
</div>
<div class="row mt-5">
    <div class="col-6"><app-payment-detail-form/></div>
    <div class="col-6">
        <div class="list-group">
            <li *ngFor="let item of service.list"
             class="list-group-item d-flex
             justify-content-between
              align-items-start mb-3 border
               px-4 py-3 rounded-3">
<div class="flex-grow-1 mouse-hover">
    <div class="fw-bold">{{item.expairyDate}}</div>
<div class="fw-bold"> {{item.cardHolderName}}</div>
<div class="fw-bold">{{item.cardNumber}}</div>
 
</div>
<span>
    <i class="fa fa-trash mouse-hover" aria-hidden="true"></i>

</span>

         
            </li>
        </div>
    </div>
</div>